*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
.calculator-grid-wrapper {
  display: flex;
  justify-content: center; /* Horizontally center the calculator grid */
  align-items: center; /* Vertically center the calculator grid */
  padding: 20px; /* Optional: Add padding to the wrapper */
}

.calculator-grid {
  display: grid;
  margin: 0 auto; /* Center the calculator grid horizontally */
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  border: 2px solid black; /* Add a black border with 2px width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(110, 110, 103, 0.75);
  }
  
  .calculator-grid > button:hover,
  .calculator-grid > button:focus {
    background-color: rgba(218, 218, 218, 0.9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  } 